<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FlagsWPF.Properties.Settings.flagsConnectionString"
            connectionString="Data Source=D:\projects\flags\Media\flags.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>